/* fonts */

/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* 빙그레체 */
@font-face {
  font-family: 'Binggrae';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Binggrae-Two';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Binggrae-Bold';
  src: url(../font/Binggrae-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

/* NotoSansKR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

/* common */
body {
  font-family: 'Poppins','Noto Sans KR', sans-serif;
  font-size: 14px;
  letter-spacing: -0.09em;
  color: #1f1f1f;
}
a, a:hover {
  text-decoration: none;
  color: #1f1f1f;
}

/* layout */

/* mobile */
@media screen and (max-width:768px) {
  #wrap { 
    width: 100%;
    overflow: hidden;
  }
  
  #header {
    box-sizing: border-box;
    width: 100%;
    height: 72px;
    z-index: 40;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s ease;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }

  #header.active {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.03); 
  }
  /* PC헤더 숨김 */
  .header_wrap {
    display: none;
  }
  .m_header_wrap{
    display: block;
  }
  section.banner {
    width: 100%;
  }

  main#container {
    position: relative;
    width: 100%;
  }
  div.container_inner {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 20px 0 20px;
  }
}

/* tablet */
@media screen and (min-width:769px) and (max-width:1024px){
  #wrap { 
    width: 100%;
  }
  
  #header {
    box-sizing: border-box;
    width: 100%;
    height: 72px;
    z-index: 40;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s ease;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }

  #header.active {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.03); 
  }
  /* PC헤더 숨김 */
  .header_wrap {
    display: none;
  }
  .m_header_wrap{
    display: block;
  }
  section.banner {
    width: 100%;
  }

  main#container {
    position: relative;
    width: 100%;
  }
  div.container_inner {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 20px 0 20px;
  }










}
/* //Tablet */

/* PC */
@media screen and (min-width:1025px){
#wrap {
  width: 100%;
}
div.m_header_wrap {
  display: none;
}

  #header {
    width: 100%;
    height: 146px;
    z-index: 40;
    position: absolute;
    top:0;
    left: 0;
    transition: all 0.4s ease;
  }

  #header.active {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.03); 
  }

  .header_wrap {
    width: 100%;
    height: 146px;
    overflow: hidden;
  }
  .header_inner {
    width: 100%;
    height: 0px;
    border-radius: 0 0 100px 100px;
    box-shadow: 0px 5px 10px -1px #33333320;
    position: absolute;
    background-color: #fff;
    transition: height 0.3s linear 0s;    
    z-index: 2;
  }
    ul.topLink {
      width: 100%;
      height: 30px;
      padding: 0 80px;
      border-bottom: solid 1px #e6dcdd;
      box-sizing: border-box;
    }
    div.header_bottom {
      width: 100%;
      height: 116px;
      padding: 0 80px;
      box-sizing: border-box;
      z-index: 40;
    }

  section.banner {
    position: relative;
    width: 100%;
    height: 795px;
    overflow: hidden;
  }

main#container {
  position: relative;
  width: 100%;
  /* border: solid 1px red; */
}

div.container_inner {
  width: 1310px;
  margin: 200px auto 200px auto;
}
}