<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="skipNavy">
    <a href="#">본문 바로가기</a>
  </div>
  <div id="wrap">
    <header id="header">
      <div class="header_wrap">
        <div class="header_inner">
          <ul class="topLink"></ul>
          <!-- //topLink -->
          <h1 class="logo"><a href="#"><img src="" alt=""></a></h1>
          <nav></nav>
          <ul class="language">
            <li><a href="#"></a></li>
          </ul>
          <div></div>
        </div>
        <!-- //header_inner -->
      </div>
      <!-- //header_wrap -->
    </header>
    <!-- //header -->

    <!-- w:100% -->
    <section class="banner">
      <h2 class="blind">빙그레 배너</h2>
      <!-- 배너 기차 w:n00% -->
      <div class="banner_frame">
        <ul>
          <!-- 배너 각각 -->
          <li>
          </li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <!-- //.banner_frame -->
      <div class="arrow">
        <a href="#" class="btn_prev"></a>
        <a href="#" class="btn_next"></a>
      </div>
      <!-- // 이전/다음 버튼 .arrow -->
      <!-- 검색창 -->
      <div class="srch_box">
        <form action="">
          <fieldset>
            <legend class="blind">검색창</legend>
            <input type="search" name="" id="" />
            <input type="submit" value="search">
          </fieldset>
          <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </form>
      </div>
      <!-- //.srch_box -->
    </section>
    <!-- //section.banner -->

    <main id="container">
      <div class="content1">
        <div class="cont_inner">
          <h2>행복한 빙그레의 맛!</h2>
          <div class="menuSlide menu">
            <!-- ul: 기차 li: 개별 콘텐츠 -->
            <ul>
              <li></li>
            </ul>
            <div class="menu_arrow">
              <a href="#" class="btn_cont_prev">이전 버튼</a>
              <a href="#" class="btn_cont_next">다음 버튼</a>
            </div>
          </div>
        </div>
      </div>
      <!-- //content1 -->
      <div class="content2">
        <div class="cont_inner">
          <h2>BRAND SHOP</h2>
          <div class="menuSlide brand">
            <!-- ul: 기차 li: 개별 콘텐츠 -->
            <ul>
              <li></li>
            </ul>
            <div class="menu_arrow">
              <a href="#" class="btn_cont_prev">이전 버튼</a>
              <a href="#" class="btn_cont_next">다음 버튼</a>
            </div>
          </div>
        </div>
      </div>
      <!-- //content2 -->
      <div class="content3">
        <div class="cont3_inner">
          <h2>고객문의 및 불편사항</h2>
          <!-- 전체 흰 박스 .faq -->
          <div class="faq">
            <ul>
              <!-- 이메일 상담 -->
              <li><a href="#">
                <h3></h3>
                <p></p>
                <span></span>
              </a>
              </li>
              <!-- 전화 상담 -->
              <li><a href="#">
                <h3></h3>
                <p><strong></strong></p>
                <p><span></span></p>
              </a>
              </li>
            </ul>
            <div>
              <h4>자주 묻는 질문 ~</h4>
            </div>
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
            <p><a href="#">더보기</a></p>
          </div>
        </div>
        <!-- //cont3_inner -->
      </div>
      <!-- //content3 -->
      <div class="content4">
        <div class="cont4_inner">
          <h2></h2>
          <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </main>
    <!-- // #container -->
    <footer id="footer">
      <p><a href="#"><img src="" alt=""></a></p>
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
      <address>
        <span></span>
        <span></span>
      </address>
      <p class="copyright"></p>
      <ul class="sns">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </footer>
    <!-- //footer -->
    <div class="btn_top">
      <a href="#">상단 바로가기</a>
    </div>
  </div>
  <!-- //wrap -->
</body>
</html>