<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="skipNavy">
  <a href="#">본문 바로가기</a>
</div>
<div id="wrap">
  <main id="container">
    <div class="container_inner">
      <div class="spot">
        <p class="path"></p>
        <h2>투자정보</h2>
        <ul>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
      <!-- //spot -->
      <div class="finance_info">
        <h3>재무정보</h3>
        <ul>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
        <h4>2022년 현황</h4>
        <div class="finance_data">
          <h5>자산총계</h5>
          <p><span>7,693</span>억원</p>
          <ul>
            <li>
              <span class="figure">수치</span>
              <div class="graph graph_assets">그래프</div>
              <span class="year">연도</span>
            </li>
            <li>
              <span class="figure">수치</span>
              <div class="graph graph_assets">그래프</div>
              <span class="year">연도</span>
            </li>
            <li>
              <span class="figure">수치</span>
              <div class="graph graph_assets">그래프</div>
              <span class="year">연도</span>
            </li>
          </ul>
        </div>
        <div class="finance_data">
          <ul>
            <li>
              <span class="figure">수치</span>
              <div class="graph graph_debt">그래프</div>
              <span class="year">연도</span>
            </li>
            <li>
              <span class="figure">수치</span>
              <div class="graph graph_debt">그래프</div>
              <span class="year">연도</span>
            </li>
            <li>
              <span class="figure">수치</span>
              <div class="graph graph_debt">그래프</div>
              <span class="year">연도</span>
            </li>
          </ul>
        </div>
        <div class="finance_data">
          <ul>
            <li>
              <span class="figure">수치</span>
              <div class="graph graph_capital">그래프</div>
              <span class="year">연도</span>
            </li>
            <li>
              <span class="figure">수치</span>
              <div class="graph graph_capital">그래프</div>
              <span class="year">연도</span>
            </li>
            <li>
              <span class="figure">수치</span>
              <div class="graph graph_capital">그래프</div>
              <span class="year">연도</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- //finance_info -->
      <h4>재무상태표</h4>
      <table class="bs"> <!--balance sheet-->
        <span>단위 : 백만원</span>
        <caption class=blind>재무상태표</caption>
        <thead>
          <tr>
            <th>구분</th>
            <th>2020<br />(제55기)</th>
            <th>2021<br />(제56기)</th>
            <th>2022<br />(제57기)</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>자산통계</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>부채총계</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>자본총계</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th>유동자산</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>비유동자산</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>유동부채</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>비유동부채</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <span>*</span><p>내용</p>
      </table>
    </div>
    <!-- //container_inner -->
  </main>
  <!-- //container -->
</div>
<!-- // #wrap -->
</body>
</html>