<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="skipNavy">
  <a href="#">본문 바로가기</a>
</div>
<div id="wrap">
<main id="container">
  <div class="container_inner">
    <div class="spot">
      <p class="path"></p>
      <h2>고객센터</h2>
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
    <!-- //spot -->
    <ul>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
    <p>
      <span></span>
    </p>
    <form action="">
      <fieldset class="agree">
        <legend class="blind">개인정보 수집동의</legend>
        <h3>개인정보수집동의</h3><span>자세한내용은</span>
        <div>
          <p></p>
          <p>
            <span>개인정보 수집 이용에 관한 동의</span>
            회사는 아래와 같은 개인정보를 수집하고 있습니다.
              <ul>
                <li></li>
              </ul>
          </p>
          <p>
            <span></span>
            
              <ul>
                <li></li>
              </ul>
          </p>
        </div>
        <span>
          <input type="radio" name="agree" id="agree" />
          <input type="radio" name="agree" id="disagree" />
        </span>
      </fieldset>
      <fieldset>
        <legend>상세문의</legend>
        <table>
          <tbody>
            <tr>
              <th><label><span>*</span>문의종류</label></th>
              <td>
                <select name="" id="">
                  <option value=""></option>
                </select>
              </td>
            </tr>
            <!-- //문의종류 -->
            <tr>
              <th><label><span>*</span>이름</label></th>
              <td>
                <input type="text" name="" id="" />
              </td>
            </tr>
            <!-- //이름 -->
            <tr>
              <th><label><span>*</span>이메일</label></th>
              <td>
                <!-- 이메일 양식이 분리돼있어서 일단 text로 넣었습니다 -->
                <input type="text" name="" id="" />
                &nbsp;@&nbsp;
                <input type="text" />
                <select name="" id="">
                  <option value="naver.com" selected></option>
                  <option value=""></option>
                </select>
              </td>
            </tr>
            <!-- //이메일 -->
            <tr>
              <th><label><span>*</span>연락처</label></th>
              <td>
                <input type="tel" maxlength="4" />
                &nbsp;-&nbsp;
                <input type="tel" name="" id="" maxlength="4" />
                &nbsp;-&nbsp;
                <input type="tel" name="" id="" maxlength="4" />
                </select>
              </td>
            </tr>
            <!-- //연락처 -->
            <tr>
              <th><label>주소</label></th>
              <td>
                <input type="text" name="" id="" placeholder="제품 불편문의 접수시, 원활한 상담을 위해 지역을 기입해 주시기 바랍니다." />
              </td>
            </tr>
            <!-- //주소 -->
            <tr>
              <th><label><span>*</span>제목</label></th>
              <td>
                <input type="text" />              
              </td>
            </tr>
            <!-- //제목 -->
            <tr>
              <th><label><span>*</span>내용</label></th>
              <td>
                <textarea name="" id="" cols="30" rows="10" placeholder="주민등록번호 등의 개인정보는 절대 노출하지마세요."></textarea>
              </td>
            </tr>
            <!-- //내용 -->
            <tr>
              <th><label>첨부파일</label></th>
              <td>
                <input type="text" disabled />
                <label for="file1">찾아보기</label>
                <input type="file" name="" id="file1">
                <input type="text" disabled />
                <label for="file1">찾아보기</label>
                <input type="file" name="" id="file1">
                <input type="text" disabled />
                <label for="file1">찾아보기</label>
                <input type="file" name="" id="file1">    
                <!-- 첨부파일 주의사항 -->
                <p></p>          
              </td>
            </tr>
            <!-- //첨부파일 -->
          </tbody>
        </table>
        <!-- //table -->
        <span>
          <input type="reset"></input>
          <input type="submit"></input>
        </span>
      </fieldset>
    </form>
    <!-- //form -->
    <div class="process">
      <h3>고객상담절차</h3>
      <ul>
        <li>
          <span>backgroundImage</span>
          <dl>
            <dt>클레임접수</dt>
            <dd>전화/홈페이지</dd>
            <dd>전화/홈페이지를 통해 접수됩니다.</dd>
          </dl>
        </li>
        <li>
          <span>backgroundImage</span>
          <dl>
            <dt>클레임접수</dt>
            <dd>전화/홈페이지</dd>
            <dd>전화/홈페이지를 통해 접수됩니다.</dd>
          </dl>
        </li>
        <li>
          <span>backgroundImage</span>
          <dl>
            <dt>클레임접수</dt>
            <dd>전화/홈페이지</dd>
            <dd>전화/홈페이지를 통해 접수됩니다.</dd>
          </dl>
        </li>
        <li>
          <span>backgroundImage</span>
          <dl>
            <dt>클레임접수</dt>
            <dd>전화/홈페이지</dd>
            <dd>전화/홈페이지를 통해 접수됩니다.</dd>
          </dl>
        </li>
      </ul>
      <div>
        <span>화살표이미지</span>
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- //.process -->
  </div>
  <!-- //container_inner -->
</main>
<!-- //container -->
</div>
<!-- //#wrap -->
</body>
</html>